
.Row-1{
border: 10px red ridge;
margin: 10px;
padding: 5px;
}

img{
    border: 2px yellow solid;
}
img:hover{
    transform: scale(1.1);
    border: 10px black;
    
}

#main img{
    float: left;
    
}

.img-1 img{
    border-radius: 50%;
}


.Row-2{
border: 10px red ridge;
margin: 10px;
padding: 5px;

}
.Row-3{
border: 10px red ridge;
margin: 10px;
padding: 5px;

}

.Row-4{
border: 10px red ridge;
margin: 10px;
padding: 5px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 100%;
}

.Row-4 img {
    opacity: 0.5;
}


.Row-4 img:hover {
    opacity: 0;
}

h1:hover{
    color: orange;
}

