
/* ? Relative units  */

.units {
    /* font-size: 1.20rem; */
    background-size:0.9em;
    background-color: aquamarine;
    }

p {
/* font-size: 1.1rem; */
background-color: bisque;

}

span{
/* font-size: 0.9em; */
background-color: cornsilk;
width: 100vw;

}


.part1{
    font-size: 0.9em;
    background-size: 50%;
    width: 80vw;
    background-color: coral;
    height: 50vh;

}

.part2{
    font-size: 1em;
    background-size: 50%;
    background-color: darkcyan;
    height: 100vh;
    width:100vw ;
}

/* ? Absolute Units  */


/* .units {
    font-size:20px;
    background-size:550px;
    background-color: aquamarine;
    }

p {
font-size: 16px;
background-color: bisque;

}

span{
font-size: 10px;
background-color: cornsilk;
width: 100vw;

}

.part1{
    
    width: 50vw;
    background-color: coral;
    height: 50vh;

}

.part2{
    background-color: darkcyan;
    height: 50vh;
    width:50vw ;
}

.AbsU_1 {
    font-size: 0.5cm;
    background-color: darksalmon;
}

.AbsU_2 {
    font-size: 0.2in;
    background-color: darkgrey;
} */
/* .line-height-example{
    line-height:;} */
